/* BACKGROUND */
.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  background-color: #303841;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
img {
  width: 100%;
}
.text-center {
  text-align: center;
}
header {
  margin-top: 100px;
  margin-bottom: 30px;
}
section {
  max-width: 100%;
  padding-top: 30px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-space {
  grid-gap: 60px;
}
/* HEADER */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  color: #d3d6db;
}
button {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}
.header-btn {
  margin-top: 50px;
  border: 2px solid #ffbd39;
  background-color: #ffbd39;
}
.header-btn:hover {
  background-color: #f0e19e;
  border: 2px solid #ffbd39;
}

a {
  text-decoration: none;
  color: black;
}
.auto-type {
  font-family: "Lexend", sans-serif;
  color: #be3144;
}
/* ABOUT */
.bio-img {
  max-width: 350px;
  display: block;
  margin: 0 auto;
  border-radius: 33% 67% 41% 59% / 54% 42% 58% 46%;
}
.bio {
  margin: 20px 30px 0px 70px;
  line-height: 1.5;
}

/* PROJECTS */

h2 {
  margin-bottom: 0px;
  margin-left: 30px;
  color: #be3144;
  font-family: "Lexend", sans-serif;
  font-size: 30px;
}
h3 {
  font-family: "Lexend", sans-serif;
  color: #d3d6db;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #d3d6db;
}
.projects {
  margin-top: 90px;
  margin: 70px;
  margin-bottom: 20px;
}
.blob-1 {
  border-radius: 20% 80% 29% 71% / 59% 26% 74% 41%;
  transition: 1s ease;
}
.blob-1:hover {
  border-radius: 77% 23% 75% 25% / 41% 26% 74% 59%;
}
.blob-back-1 {
  border-radius: 77% 23% 75% 25% / 41% 26% 74% 59%;
  transition: 1s ease;
  background-color: #3a4750;
}
.blob-back-1:hover {
  border-radius: 20% 80% 29% 71% / 59% 26% 74% 41%;
}

.blob-2 {
  border-radius: 77% 23% 75% 25% / 41% 26% 74% 59%;
  transition: 1s ease;
}
.blob-2:hover {
  border-radius: 20% 80% 29% 71% / 59% 26% 74% 41%;
}
.blob-back-2 {
  border-radius: 20% 80% 29% 71% / 59% 26% 74% 41%;
  transition: 1s ease;
  background-color: #3a4750;
}
.blob-back-2:hover {
  border-radius: 77% 23% 75% 25% / 41% 26% 74% 59%;
}

.blob-3 {
  border-radius: 77% 23% 33% 67% / 41% 63% 37% 59%;
  transition: 1s ease;
}
.blob-3:hover {
  border-radius: 33% 67% 33% 67% / 66% 63% 37% 34%;
}
.blob-back-3 {
  border-radius: 33% 67% 33% 67% / 66% 63% 37% 34%;
  transition: 1s ease;
  background-color: #3a4750;
}
.blob-back-3:hover {
  border-radius: 77% 23% 33% 67% / 41% 63% 37% 59%;
}

.blob-4 {
  border-radius: 50% 50% 49% 51% / 42% 83% 17% 58%;
  transition: 1s ease;
}
.blob-4:hover {
  border-radius: 28% 72% 49% 51% / 51% 45% 55% 49%;
}
.blob-back-4 {
  border-radius: 28% 72% 49% 51% / 51% 45% 55% 49%;
  transition: 1s ease;
  background-color: #3a4750;
}
.blob-back-4:hover {
  border-radius: 50% 50% 49% 51% / 42% 83% 17% 58%;
}
/* CONTACT */
.contact {
  border: 4px solid #ffbd3971;
  border-radius: 3px;
  margin: 60px 350px;
  padding: 0px 30px 20px 30px;
  align-items: center;
}
.contact-btn {
  background-color: #ffbd39;
  border: 2px solid #ffbd39;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.contact-btn:hover {
  background-color: #f0e19e;
  border: 2px solid #ffbd39;
}
.icons {
  display: flex;
  justify-content: center;
}
i {
  padding: 0px 10px;
}
h4 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #d3d6db;
}
/* CERTIFICATION */
.shecodes {
  margin: 20px 40px 0px 70px;
  line-height: 1.5;
}
ul {
  font-family: "Montserrat", sans-serif;
  list-style-type: circle;
  color: #d3d6db;
}
.shecodes-img {
  display: block;
  margin: 0 auto;
  max-width: 480px;
  margin-top: 40px;
}
/* FOOTER */
footer {
  background-color: #21272c;
  margin-top: 80px;
  width: 100%;
  padding-top: 30px;
}
.grid-1-column {
  grid-template-columns: 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  grid-gap: 30px;
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  margin-left: 6px;
  padding-bottom: 40px;
}
.footer-icons {
  display: flex;
  justify-content: center;
  margin-right: 6px;
}
footer a {
  opacity: 0.7;
  transition: 0.5s;
  color: #d3d6db;
}
footer a:hover {
  opacity: 1;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  opacity: 0.7;
  font-size: 12px;
  background-color: #15191d;
}
@media (max-width: 1400px) {
  .contact {
    margin: 30px 180px;
  }
}
@media (max-width: 800px) {
  h2 {
    text-align: center;
    margin-left: 0px;
    margin-top: 60px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .bio {
    margin: 40px 70px 0px 70px;
  }
  .bio-img {
    display: none;
  }
  .grid-4-columns {
    grid-template-columns: 1fr 1fr;
    margin: 90px 70px 0px 70px;
  }
  .contact {
    margin: 30px 100px;
  }
  .contact-btn {
    margin-top: 50px;
  }
  .shecodes {
    margin: 40px 70px 0px 70px;
  }
  .exp {
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
  h4 {
    font-size: 20px;
  }
  button {
    padding: 10px 10px;
    font-size: 14px;
  }
  .exp {
    font-size: 15px;
  }
  .grid-space {
    grid-gap: 30px;
  }
  .shecodes-img {
    max-width: 270px;
  }
  .grid-4-columns {
    margin: 90px 50px 0px 50px;
  }
  .shecodes {
    margin: 40px 50px 0px 50px;
  }
  .bio {
    margin: 40px 50px 0px 50px;
  }
  .contact {
    margin: 20px 80px;
  }
  .footer-nav {
    font-size: 15px;
  }
  .name {
    font-size: 10px;
  }
}
